body {
    background-color: #f7f7f8;
}

/* 公共样式 */
.red {
    color: #cf4444;
}

.pannel {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}


/* 主体内容 开始 */
.main {
    padding: 12px 11px 80px;
}

/* 用户 */
.user_msg {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 11px;
}

.user_msg .location {
    margin-right: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    text-align: center;
    line-height: 30px;
    color: #fff;
}

/* 用户信息部分 */
.user_msg .user {
    flex: 1;
}

.user_msg .user .top {
    display: flex;
}

.user_msg .user .top h5 {
    flex: 1;
    font-size: 15px;
    font-weight: 400;
}

.user_msg .user .top p {
    flex: 3;
    font-size: 13px;
}

.user_msg .user .bottom {
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
}

/* 用户信息部分 */

.user_msg .more {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #808080;
}

/* 用户部分结束 */

/* 商品部分 */
.goods {
    display: flex;
    padding: 11px 0 11px 11px;
}

/* 商品图片 */
.goods .pic {
    margin-right: 10px;
    width: 85px;
    height: 85px;
    border-radius: 2px;
}

/* 商品图片 */

/* 商品信息 */
.goods .info {
    flex: 1;
}

.goods .info h5 {
    font-size: 13px;
    color: #262626;
    font-weight: 400;

}

.goods .info p {
    margin: 5px 0;
    width: 95px;
    height: 20px;
    background-color: #f7f7f8;
    border-radius: 2px;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #888888;
}

.goods .info p span:first-child {
    margin-right: 5px;
}

.goods .info .price {
    font-size: 12px;
}

.goods .info .price span:first-child em {
    font-size: 16px;
    font-weight: 500;
}

.goods .info .price span:last-child {
    margin-left: 5px;
    text-decoration: line-through;
    font-weight: 500;
    color: #999;
}

/* 商品信息 */

/* 商品数量 */
.goods .count {
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    color: #262626;
}

/* 商品数量 */

/* 商品部分 */


/* 其他信息 */
.rest {
    padding: 15px;
}

.rest .opt {
    display: flex;
    margin-bottom: 30px;
}

.rest .opt h5,
.rest .opt p {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    font-weight: 400;
    color: #262626;
}

.rest .opt:nth-child(2) p {
    margin-left: 20px;
    font-size: 12px;
    line-height: 21px;
    color: #989898;
}

.rest .opt p em {
    color: #808080;
    vertical-align: middle;
}

.rest .opt:nth-child(odd) {
    justify-content: space-between;
}

.rest .opt:last-child {
    margin-bottom: 0;
}


/* 其他信息 */

/* 商品价格 */
.goods-price {
    padding: 15px;
}

.goods-price div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.goods-price div:last-child {
    margin-bottom: 0;
}

.goods-price div h5,
.goods-price div p {
    font-size: 13px;
    font-weight: 400;
    color: #262626;
}

.goods-price div:last-child p {
    color: #cf4444;
}

/* 商品价格 */


/* 主体内容 结束 */

/* 底部支付 开始 */
.pay {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 11px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ededed;
}

.pay .left {
    font-size: 11px;
    line-height: 19px;
    color: #1e1e1e;
}

.pay .left em {
    font-size: 20px;
}

.pay .left em b {
    font-size: 16px;
    font-weight: 400;
}

.pay .right a {
    display: inline-block;
    width: 91px;
    height: 35px;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    border-radius: 3px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

/* 底部支付 结束 */