body {
    background-color: #f7f7f8;
}

/* 公共样式 */
.red {
    color: #cf4444;
}

.pannel {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}


/* 主体内容 开始 */
.main {
    padding: 12px 11px 80px;
}

.user_msg {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 11px;
}

.user_msg .location {
    margin-right: 11px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    text-align: center;
    line-height: 30px;
    color: #fff;
}

/* 用户信息部分 */
.user_msg .user {
    flex: 1;
}

.user_msg .user .top {
    display: flex;
}

.user_msg .user .top h5 {
    flex: 1;
    font-size: 15px;
    font-weight: 400;
}

.user_msg .user .top p {
    flex: 3;
    font-size: 13px;
}

.user_msg .user .bottom {
    margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
}

/* 用户信息部分 */

.user_msg .more {
    width: 44px;
    height: 44px;
    background-color: #2ad1ff;
    border: solid 1px #3a9cff;
    text-align: center;
    line-height: 44px;
    color: #808080;
}


/* 主体内容 结束 */

/* 底部支付 开始 */
.pay {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 11px;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ededed;
}

.pay .left {
    font-size: 11px;
    line-height: 19px;
    color: #1e1e1e;
}

.pay .left em {
    font-size: 20px;
}

.pay .left em b {
    font-size: 16px;
    font-weight: 400;
}

.pay .right a {
    display: inline-block;
    width: 91px;
    height: 35px;
    background-image: linear-gradient(90deg,
            #6fc2aa 5%,
            #54b196 100%);
    border-radius: 3px;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

/* 底部支付 结束 */